
@media (max-width: 700px) {
  html,body {
    background-color: #FFFAFA;
  }

  .form-wrapper {
    margin-top: 1%;
  }
  
  .article-wrapper {
    margin-top: 1%;
  }

  .btns {
    padding-left: 5%;
  }
}

@media (min-width: 701px) {
  html, body {
    height: 100%;
    background-color: #FFFAFA;
  }

  #form {
    width: 50%;
  }
  
  .form-wrapper {
    margin-top: 1%;
  }
  
  .article-wrapper {
    margin-top: 1%;
  }
  
  .btns {
    padding: 1% 35%;
  }

  .box {
    margin-bottom: 10px;
  }

  #edit-form {
    width: 100%;
  }
}
